<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor type="Altola.JssBootcamp.SitecoreJssServerExtensions.Pipelines.GetLayoutServiceContext.MembershipProcessor, Altola.JssBootcamp.SitecoreJssServerExtensions" resolve="true">
              <AllowedConfigurations hint="list">
                <jss>jss</jss>
              </AllowedConfigurations>
              <Applications hint="list">
                <jssreactstarter>jssreactstarter</jssreactstarter>
              </Applications>
              <!--<Routes hint="list">
                --><!-- Restrict the route items for which this processor will execute. IDs, item paths, and wildcard item paths are allowed. -->
                  <!--
                <services>/sitecore/content/jssreactstarter/home*</services>
                <portfolio>{BAD2C001-1746-4312-8422-B28806A1191E}</portfolio>
              </Routes>-->
            </processor>
          </getLayoutServiceContext>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>